@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.hero{
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
       background-image: linear-gradient( 180deg, rgba(31,31,31,0.8) 0%, rgba(31,31,31,0.8) 100% ), url(/src/assets/Img/restaurant-hero-02.jpg)
}
.hero-p{
    /* background-color: aliceblue; */
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #A5BAAE;
}
.hero-h2{
    color: white;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
}
.hero-text{
    /* background-color: #A5BAAE; */
    min-height: 200px;
}
.hero-detail{
    /* background-color: cadetblue; */
    display: flex;
    width: 580px;
    min-height: 320px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.hero-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero-btn1{
    width: 220px;
    padding: 5px;
    border: none;
    background-color: #C39D63;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.hero-btn2{
    width: 170px;
    background: none;
   border: 1px solid white;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 5px;
}
@media(max-width:768px){
    .hero-h2{
        width: 100%;
    }
    .hero-detail{
        min-width: 100%;
    }
    .hero-h2{
        font-size: 4rem;
    }
}