@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&Montserrat:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.fourth-section{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 5px;
    justify-content: center;
}

.fourth-box-img{
    height: 312px;
}
.fourth-box-img img{
    height: 100%;
    min-width: 100% !important;
}
.fourth-box-text{
    height: 312px;
}

.grid-cont{
    /* background-color: brown; */
    /* margin: 0 10px; */
    width: 85% !important;
}
.fourth-body1 h5{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    letter-spacing: 1px;
}
.fourth-body1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none !important;
}
.fourth-head1{
    border:none;
    font-family: 'Montserrat', sans-serif;
    color: #c39d63;
    font-size: 21px;
    background: none;
}
.fourth-body1 p{
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
}
.fourth-card1{
    height: 100% !important;
    border: none;
    border-radius: 0%;
    /* background-color: rgb(69, 82, 93); */
}